*{
    margin: 0;
    padding: 0;

}

header.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: rebeccapurple;
    color: yellow;
    text-align: center;
}
button.css-1y942vo-MuiButtonBase-root-MuiButton-root{
    background-color: black;
}
html,
body{
    font-family: Arial, sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
    color: yellow;
    background-color: cornflowerblue;
}
.css-q5fqw0{
    background-color: cornflowerblue;
}




