* {
  margin: 0;
  padding: 0;
}
/*"css-hip9hq-MuiPaper-root-MuiAppBar-root" was found suing inspect on the browser*/
header.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #6559ff;
  color: rgb(224, 215, 215);
  text-align: left;
  padding: 10px;
}
/*"css-1y942vo-MuiButtonBase-root-MuiButton-root" was found using inspect on the browser*/
button.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  background-color: yellow;
  color: black;
}

button:hover.css-1y942vo-MuiButtonBase-root-MuiButton-root {
  background-color: rgb(224, 215, 215);
  color: rgb(74, 183, 216);
}

html,
body {
  font-family: Roboto, sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  text-align: left;
  color: black;
  font-size: larger;
  background-color: white;
}
.css-q5fqw0 {
  background-color: white;
}

.dropdown {
  width: 300px;
  user-select: none;
  margin-left: 1300px;
  margin-top: -50px;
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 10px 30px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: normal;
  font-size: 22px;
  color: #333;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: absolute;
  top: 50px;
  padding: 15px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: normal;
  font-size: 20px;
  color: #333;
  width: 90%;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}
